@page
@model TheCoffeeBean.Pages.CartCheckout
@{
    ViewData["Title"] = "Checkout";
}
@using TheCoffeeBean.Data
@using Microsoft.Extensions.Options

<h1>Checkout Basket</h1>

@if (Model.Items.Count == 0)
{
    <p>If Nothign is showing please go back to the menu and place an order or contact support</p>
    
}
else
{
    <form method="post">
        <table class="table">
            <thread>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>subtotal</th>
                </tr>
            </thread>
            <tbody>
            @foreach (var item in Model.Items)
            {
                var subtotal = item.Price * item.Quantity;
                
                <tr>
                    
                </tr>
            }
            </tbody>
        </table>
    </form>
}
