@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Main Card -->
<div class="container">
    <div class="container-text">
    <section class="entry-section">1>
        <h1> TheCoffeeBean!</h1>
        <p>Aritisan Coffee Delivered to your Door Next Day!</p>
        <a href="/Menu" class="btn">Our Menu</a>
    </section>
</div>
</div>
    
<!-- Featured Products -->
    <section class="Featured-Coffee">
        <h2>Featured Coffee Products</h2>
        <div class="product-grid">
            @foreach (var product in Model.Products)
            {
                <div class="product_cards">
                    <img src="@product.ImageUrl" alt="@product.Name">
                    <h3>@product.Name</h3>
                    <p>@product.Description</p>
                    <p class="price">£@product.Price</p>
                    <a href="#" class="btn">Add to Cart</a>
                </div>
            }
        </div>
    </section>

    <section class="Signup-Section">
        <h2>Order Soon Now!</h2>
        <p>Get 25% off your order!</p>
        <a href="/login" class="btn">Sign Up</a>
    </section>


