@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="hero">
    <div class="Main-text">
        <h1 class="display-4">Welcome to Coffee Heaven</h1>
        <p>Your one-stop shop for premium coffee beans.</p>
        <a class="btn btn-primary btn-lg" href="/Shop">Shop Now</a>
    </div>
</div>

<div class="container">

<div class="row">

  <div class="product col-auto" id="p1">

    
    <!-- front face of product -->
    <div class="front">
      <span class="new">New</span>
      <div class="img-wrap">
        <img src="https://media.istockphoto.com/id/1837339974/photo/different-types-of-coffee-sorted-out-in-paper-bags-in-a-coffee-shop-in-kuwait.jpg?s=612x612&w=is&k=20&c=zYRz9YEYg-JgC9ng2mVZwDGvW-f-bfXY7QqMOL81iFY=" alt="Coffee Beans" />
        <i class="fa fa-shopping-basket fav"></i>
      </div>
      <div class="description clearfix">
        <span class="discount">-50%</span>
        <div class="content">
          <h3> Obscure Coffee Bean</h3>
          <p>This is A light Roast anerobic Coffee from kenya with "Funky" Notes Grown at 2200m</p>
        </div>
        <div class="price">
          <span class="old-price"><del>$20</del></span><span class="new-price">$10</span>
        </div>
        <div class="quick-detail" data="1">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div>
    </div><!-- front -->

    <!-- Back face of product -->
    <div class="back">
      <div class="img-wrap">
        <img src="https://media.istockphoto.com/id/1837339974/photo/different-types-of-coffee-sorted-out-in-paper-bags-in-a-coffee-shop-in-kuwait.jpg?s=612x612&w=is&k=20&c=zYRz9YEYg-JgC9ng2mVZwDGvW-f-bfXY7QqMOL81iFY=" alt="mac air" />
        <ul class="indicator">
          <li><img src="https://static.zara.net/photos///2020/I/0/3/p/5644/772/701/2/w/1140/5644772701_2_1_1.jpg?ts=1601393275970" alt="" /></li>
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
        </ul>
      </div><!-- /img-wrap -->

      <div class="description clearfix">
        <div class="quick-detail" data="1">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div><!-- /description -->

    </div><!-- /back -->

  </div><!-- /product -->

  <div class="product col-auto" id="p2">

    <!-- front face of product -->
    <div class="front">
      <span class="new">New</span>
      <div class="img-wrap">
        <img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="mac air" />
        <i class="fa fa-shopping-basket fav"></i>
      </div>
      <div class="description clearfix">
        <span class="discount">-30%</span>
        <div class="content">
          <h3> Mac Book Air</h3>
          <p>We are committed to increase the safety and security of your payments. Helping you shop! </p>
        </div>
        <div class="price">
          <span class="old-price"><del>$50</del></span><span class="new-price">$30</span>
        </div>
        <div class="quick-detail" data="2">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div>
    </div><!-- front -->

    <!-- Back face of product -->
    <div class="back">
      <div class="img-wrap">
        <img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="mac air" />
        <ul class="indicator">
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
        </ul>
      </div><!-- /img-wrap -->

      <div class="description clearfix">
        <div class="quick-detail" data="2">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div><!-- /description -->

    </div><!-- /back -->

  </div><!-- /product -->

  <div class="product col-auto" id="p3">

    <!-- front face of product -->
    <div class="front">
      <span class="new">New</span>
      <div class="img-wrap">
        <img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="mac air" />
        <i class="fa fa-shopping-basket fav"></i>
      </div>
      <div class="description clearfix">
        <span class="discount">-30%</span>
        <div class="content">
          <h3> Mac Book Air</h3>
          <p>We are committed to increase the safety and security of your payments. Helping you shop! </p>
        </div>
        <div class="price">
          <span class="old-price"><del>$50</del></span><span class="new-price">$30</span>
        </div>
        <div class="quick-detail" data="3">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div>
    </div><!-- front -->

    <!-- Back face of product -->
    <div class="back">
      <div class="img-wrap">
        <img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="mac air" />
        <ul class="indicator">
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
        </ul>
      </div><!-- /img-wrap -->

      <div class="description clearfix">
        <div class="quick-detail" data="3">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div><!-- /description -->

    </div><!-- /back -->

  </div><!-- /product -->
  
  <div class="product col-auto" id="p4">

    <!-- front face of product -->
    <div class="front">
      <span class="new">New</span>
      <div class="img-wrap">
        <img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="mac air" />
        <i class="fa fa-shopping-basket fav"></i>
      </div>
      <div class="description clearfix">
        <span class="discount">-30%</span>
        <div class="content">
          <h3> Mac Book Air</h3>
          <p>We are committed to increase the safety and security of your payments. Helping you shop! </p>
        </div>
        <div class="price">
          <span class="old-price"><del>$50</del></span><span class="new-price">$30</span>
        </div>
        <div class="quick-detail" data="4">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div>
    </div><!-- front -->

    <!-- Back face of product -->
    <div class="back">
      <div class="img-wrap">
        <img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="mac air" />
        <ul class="indicator">
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
        </ul>
      </div><!-- /img-wrap -->

      <div class="description clearfix">
        <div class="quick-detail" data="4">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div><!-- /description -->

    </div><!-- /back -->

  </div><!-- /product -->

  <div class="product col-auto" id="p5">

    <!-- front face of product -->
    <div class="front">
      <span class="new">New</span>
      <div class="img-wrap">
        <img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="mac air" />
        <i class="fa fa-shopping-basket fav"></i>
      </div>
      <div class="description clearfix">
        <span class="discount">-30%</span>
        <div class="content">
          <h3> Mac Book Air</h3>
          <p>We are committed to increase the safety and security of your payments. Helping you shop! </p>
        </div>
        <div class="price">
          <span class="old-price"><del>$50</del></span><span class="new-price">$30</span>
        </div>
        <div class="quick-detail" data="5">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div>
    </div><!-- front -->

    <!-- Back face of product -->
    <div class="back">
      <div class="img-wrap">
        <img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="mac air" />
        <ul class="indicator">
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
        </ul>
      </div><!-- /img-wrap -->

      <div class="description clearfix">
        <div class="quick-detail" data="5">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div><!-- /description -->

    </div><!-- /back -->

  </div><!-- /product -->

  <div class="product col-auto" id="p6">

    <!-- front face of product -->
    <div class="front">
      <span class="new">New</span>
      <div class="img-wrap">
        <img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="mac air" />
        <i class="fa fa-shopping-basket fav"></i>
      </div>
      <div class="description clearfix">
        <span class="discount">-30%</span>
        <div class="content">
          <h3> Mac Book Air</h3>
          <p>We are committed to increase the safety and security of your payments. Helping you shop! </p>
        </div>
        <div class="price">
          <span class="old-price"><del>$50</del></span><span class="new-price">$30</span>
        </div>
        <div class="quick-detail" data="6">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div>
    </div><!-- front -->

    <!-- Back face of product -->
    <div class="back">
      <div class="img-wrap">
        <img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="mac air" />
        <ul class="indicator">
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
          <li><img src="https://cdn.macrumors.com/article-new/2014/11/macbook_air_yosemite-800x450.jpg" alt="" /></li>
        </ul>
      </div><!-- /img-wrap -->

      <div class="description clearfix">
        <div class="quick-detail" data="6">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div><!-- /description -->

    </div><!-- /back -->

  </div><!-- /product -->

</div><!-- /row -->

</div><!-- /container -->