/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-93lgn7p28c] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-93lgn7p28c] {
  color: #0077cc;
}

a:hover a:focus[b-93lgn7p28c] {
  color: #C69C6D;
  text-decoration: underline; /* Text Decortation hover colour (Mozilla.org reference)  https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-color */

.btn-primary {
  color: #fff;
  background-color: #4B3D30;
  padding: 0.6rem 1.2rem; /* Increase the padding making the clickable areas more user freindly */
  border-color: #C69C6D;
}

.nav-pills .nav-link.active[b-93lgn7p28c], .nav-pills .show > .nav-link[b-93lgn7p28c] {
  color: #fff;
  background-color: #4B3D30;
  border-color: #C69C6D;
}

.border-top[b-93lgn7p28c] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-93lgn7p28c] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-93lgn7p28c] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  transition: box-shadow 0.3s ease;
}

.box-shadow:hover[b-93lgn7p28c] {
  box-shadow: 0. 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.box-shadow:hover[b-93lgn7p28c] {
  box-shadow: 0. 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

button.accept-policy[b-93lgn7p28c] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-93lgn7p28c] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
